[Unit]
Description=Homeware
After=network-online.target

[Service]
ExecStart=python3 /homeware/homeware.py
WorkingDirectory=/homeware/
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
